<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jump1.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,423},{42,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,69}}</string>
			<key>sourceSize</key>
			<string>{42,69}</string>
		</dict>
		<key>jump2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,494},{42,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,69}}</string>
			<key>sourceSize</key>
			<string>{42,69}</string>
		</dict>
		<key>jump3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,211},{40,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,68}}</string>
			<key>sourceSize</key>
			<string>{40,68}</string>
		</dict>
		<key>jump4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,71},{40,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,67}}</string>
			<key>sourceSize</key>
			<string>{40,67}</string>
		</dict>
		<key>jump5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,423},{40,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,69}}</string>
			<key>sourceSize</key>
			<string>{40,69}</string>
		</dict>
		<key>jump6.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,211},{40,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,68}}</string>
			<key>sourceSize</key>
			<string>{40,68}</string>
		</dict>
		<key>jump7.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,141},{38,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,68}}</string>
			<key>sourceSize</key>
			<string>{38,68}</string>
		</dict>
		<key>jump8.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,71},{38,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,67}}</string>
			<key>sourceSize</key>
			<string>{38,67}</string>
		</dict>
		<key>run1.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,637},{38,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,70}}</string>
			<key>sourceSize</key>
			<string>{38,70}</string>
		</dict>
		<key>run10.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,352},{32,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,69}}</string>
			<key>sourceSize</key>
			<string>{32,69}</string>
		</dict>
		<key>run11.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,352},{32,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,69}}</string>
			<key>sourceSize</key>
			<string>{32,69}</string>
		</dict>
		<key>run12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,565},{37,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,69}}</string>
			<key>sourceSize</key>
			<string>{37,69}</string>
		</dict>
		<key>run13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,141},{37,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,68}}</string>
			<key>sourceSize</key>
			<string>{37,68}</string>
		</dict>
		<key>run14.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,141},{35,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,68}}</string>
			<key>sourceSize</key>
			<string>{35,68}</string>
		</dict>
		<key>run15.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,494},{35,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,69}}</string>
			<key>sourceSize</key>
			<string>{35,69}</string>
		</dict>
		<key>run16.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,494},{39,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,69}}</string>
			<key>sourceSize</key>
			<string>{39,69}</string>
		</dict>
		<key>run17.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,281},{39,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,69}}</string>
			<key>sourceSize</key>
			<string>{39,69}</string>
		</dict>
		<key>run18.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,211},{39,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,68}}</string>
			<key>sourceSize</key>
			<string>{39,68}</string>
		</dict>
		<key>run2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,637},{38,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,70}}</string>
			<key>sourceSize</key>
			<string>{38,70}</string>
		</dict>
		<key>run3.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,565},{38,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,70}}</string>
			<key>sourceSize</key>
			<string>{38,70}</string>
		</dict>
		<key>run4.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,565},{38,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,70}}</string>
			<key>sourceSize</key>
			<string>{38,70}</string>
		</dict>
		<key>run5.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,281},{38,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,69}}</string>
			<key>sourceSize</key>
			<string>{38,69}</string>
		</dict>
		<key>run6.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,71},{36,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,68}}</string>
			<key>sourceSize</key>
			<string>{36,68}</string>
		</dict>
		<key>run7.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,2},{34,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,67}}</string>
			<key>sourceSize</key>
			<string>{34,67}</string>
		</dict>
		<key>run8.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,2},{34,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,66}}</string>
			<key>sourceSize</key>
			<string>{34,66}</string>
		</dict>
		<key>run9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{32,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,65}}</string>
			<key>sourceSize</key>
			<string>{32,65}</string>
		</dict>
		<key>sAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,874},{43,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,80}}</string>
			<key>sourceSize</key>
			<string>{43,80}</string>
		</dict>
		<key>sAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,874},{43,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,80}}</string>
			<key>sourceSize</key>
			<string>{43,80}</string>
		</dict>
		<key>sAttack3.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,793},{41,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,79}}</string>
			<key>sourceSize</key>
			<string>{41,79}</string>
		</dict>
		<key>sAttack4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,793},{41,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,78}}</string>
			<key>sourceSize</key>
			<string>{41,78}</string>
		</dict>
		<key>sAttack5.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,714},{39,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,77}}</string>
			<key>sourceSize</key>
			<string>{39,77}</string>
		</dict>
		<key>sAttack6.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,714},{39,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,76}}</string>
			<key>sourceSize</key>
			<string>{39,76}</string>
		</dict>
		<key>sAttack7.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,637},{37,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,75}}</string>
			<key>sourceSize</key>
			<string>{37,75}</string>
		</dict>
		<key>sAttack8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,714},{37,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,75}}</string>
			<key>sourceSize</key>
			<string>{37,75}</string>
		</dict>
		<key>wAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,281},{42,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,69}}</string>
			<key>sourceSize</key>
			<string>{42,69}</string>
		</dict>
		<key>wAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,352},{42,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,69}}</string>
			<key>sourceSize</key>
			<string>{42,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>man.png</string>
		<key>size</key>
		<string>{127,956}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2fbed26e1e769592dcc58d84e5ce48ac:374aaea102741df45bef9e83909f8c8f:787ef77e3967c637acad597779256532$</string>
		<key>textureFileName</key>
		<string>man.png</string>
	</dict>
</dict>
</plist>
