<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mega1.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,370},{26,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{26,36}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>mega10.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,446},{26,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{26,34}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>mega2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{31,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{31,36}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>mega3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,36}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>mega4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{32,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,34}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>mega5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{27,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,36}}</string>
                <key>sourceSize</key>
                <string>{31,42}</string>
            </dict>
            <key>mega6.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,334},{25,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{25,34}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>mega7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{27,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,36}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>mega8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{35,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{35,34}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>mega9.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,408},{27,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{27,36}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>megas1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{33,39}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>megas2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{34,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{34,40}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>megas3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{34,39}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>megas4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{38,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,41}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>megas5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{40,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,43}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>megas6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{39,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{39,44}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>megas.png</string>
            <key>size</key>
            <string>{63,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3476164bb18be790982a42884291bef:be6a9009f87ef257cc20835f2b55974f:6e712adf9639f36c2d6ee2e5ace35355$</string>
            <key>textureFileName</key>
            <string>megas.png</string>
        </dict>
    </dict>
</plist>
