<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,927}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{440,927}}</string>
                <key>sourceSize</key>
                <string>{468,957}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{429,927}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{429,927}}</string>
                <key>sourceSize</key>
                <string>{451,977}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,931},{419,927}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{419,927}}</string>
                <key>sourceSize</key>
                <string>{443,1011}</string>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{385,926}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{385,926}}</string>
                <key>sourceSize</key>
                <string>{421,966}</string>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{399,926}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{399,926}}</string>
                <key>sourceSize</key>
                <string>{421,966}</string>
            </dict>
            <key>run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{385,926}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{385,926}}</string>
                <key>sourceSize</key>
                <string>{421,966}</string>
            </dict>
            <key>run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,931},{419,927}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{419,927}}</string>
                <key>sourceSize</key>
                <string>{443,1011}</string>
            </dict>
            <key>run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{429,927}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{429,927}}</string>
                <key>sourceSize</key>
                <string>{451,977}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>megas.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:671757e1ed55190eb1d8a55fd4324b7b:1dbd32d046e9b5d86e51b114a21ff318:6e712adf9639f36c2d6ee2e5ace35355$</string>
            <key>textureFileName</key>
            <string>megas.png</string>
        </dict>
    </dict>
</plist>
