<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,497}}</string>
                <key>sourceSize</key>
                <string>{252,497}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{343,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,722}}</string>
                <key>sourceSize</key>
                <string>{343,722}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,333},{333,737}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,737}}</string>
                <key>sourceSize</key>
                <string>{333,737}</string>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,347},{316,721}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,721}}</string>
                <key>sourceSize</key>
                <string>{316,721}</string>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{329,742}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,742}}</string>
                <key>sourceSize</key>
                <string>{329,742}</string>
            </dict>
            <key>run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,347},{316,721}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,721}}</string>
                <key>sourceSize</key>
                <string>{316,721}</string>
            </dict>
            <key>run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{343,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,722}}</string>
                <key>sourceSize</key>
                <string>{343,722}</string>
            </dict>
            <key>run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,333},{333,737}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,737}}</string>
                <key>sourceSize</key>
                <string>{333,737}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>megas.png</string>
            <key>size</key>
            <string>{1724,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f00d7c9fbe8adce5106333e6312b1d6:0c6d70ab174c95e338d95863cb8e1a26:6e712adf9639f36c2d6ee2e5ace35355$</string>
            <key>textureFileName</key>
            <string>megas.png</string>
        </dict>
    </dict>
</plist>
